/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: calc(10px + 0.25vw);
}
@media (min-width: 1400px) {
  html {
    font-size: calc(10px + 0.33vw);
  }
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #04080F;
  min-width: 300px;
  background: linear-gradient(#1F487E, #507DBC, #BBD1EA, white);
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Nunito', sans-serif;
  color: #04080F;
}
h1 {
  padding: 15px 0;
}
@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 501px) {
  h1 {
    font-size: 4.2rem;
  }
}
h2 {
  padding: 12.5px 0;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
  }
}
@media (min-width: 501px) {
  h2 {
    font-size: 3.2rem;
  }
}
h3 {
  padding: 10px 0;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 501px) {
  h3 {
    font-size: 2.8rem;
  }
}
p {
  font-size: 1.6em;
  line-height: 1.4;
}
section {
  padding: 15px 0;
}
.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  color: #04080F;
  border: 1px solid #DAE3E5;
  font-size: 1.75rem;
}
@media (max-width: 500px) {
  header {
    background: linear-gradient(to bottom, #DAE3E5, #605F5E 5%, #605F5E 95%, #DAE3E5);
  }
}
@media (min-width: 501px) {
  header {
    background: linear-gradient(to bottom, #DAE3E5, #605F5E 10%, #605F5E 90%, #DAE3E5);
  }
}
@media (min-width: 1000px) {
  header {
    background: linear-gradient(to bottom, #DAE3E5, #605F5E 15%, #605F5E 85%, #DAE3E5);
  }
}
header nav {
  width: 100%;
  min-width: 300px;
  display: grid;
  text-align: center;
}
@media (max-width: 500px) {
  header nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}
@media (min-width: 501px) {
  header nav {
    display: grid;
    grid-template-rows: 1.5fr;
    grid-template-columns: 1fr 0.75fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}
header nav div:first-child {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
}
@media (max-width: 500px) {
  header nav div:last-child {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    padding-bottom: 15px;
  }
}
@media (min-width: 501px) {
  header nav div:last-child {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}
@media (min-width: 1000px) {
  header nav div:last-child {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}
@media (min-width: 1400px) {
  header nav div:last-child {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.5fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
  }
}
header nav div a {
  line-height: 1.5;
  margin: auto 0;
  text-decoration: none;
  transition: all 0.33s ease-in-out;
}
header nav div a:link {
  color: #A1C6EA;
}
header nav div a:visited {
  color: #507DBC;
}
header nav div a:hover {
  color: #DAE3E5;
  position: relative;
}
header nav div a:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  background: linear-gradient(to left, transparent 0%, #1F487E 25%, #1D3461 50%, #247BA0 75%, transparent 100%);
}
header nav div a:active {
  color: #BBD1EA;
}
@media (max-width: 500px) {
  header nav div a {
    padding: 5px;
  }
}
@media (min-width: 501px) {
  header nav div a {
    padding: 0 10px;
  }
}
@media (min-width: 1000px) {
  header nav div a {
    padding: 15px 10px;
  }
}
@media (min-width: 1400px) {
  header nav div a {
    padding: 25px;
  }
}
header nav div a.Title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
@media (min-width: 501px) {
  header nav div a.Title {
    padding: 25px 10px;
  }
}
@media (min-width: 1000px) {
  header nav div a.Title {
    text-align: left;
  }
}
header nav div a.About {
  text-align: right;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}
@media (max-width: 500px) {
  header nav div a.About {
    text-align: center;
  }
}
@media (min-width: 501px) {
  header nav div a.About {
    text-align: right;
    margin: 0;
    margin-top: auto;
    margin-right: 10px;
  }
}
@media (min-width: 1000px) {
  header nav div a.About {
    margin: auto 0;
  }
}
header nav div a.SignIn {
  text-align: right;
}
@media (max-width: 500px) {
  header nav div a.SignIn {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
@media (min-width: 501px) {
  header nav div a.SignIn {
    margin: 0;
    margin-bottom: auto;
    margin-right: 10px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
@media (min-width: 1000px) {
  header nav div a.SignIn {
    margin: auto 0;
    margin-right: 20px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}
@media (min-width: 1400px) {
  header nav div a.SignIn {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
  }
}
@media (min-width: 0px) {
  header nav .desktop-only {
    display: none;
  }
  header nav .not-desktop {
    display: inline;
  }
}
@media (min-width: 1000px) {
  header nav .desktop-only {
    display: inline;
  }
  header nav .not-desktop {
    display: none;
  }
}
@media (max-width: 500px) {
  .home {
    padding: 0 1vw;
    min-width: calc(100vw / 2);
    max-width: 100vw;
  }
}
@media (min-width: 501px) {
  .home {
    padding: 0 2vw;
    min-width: calc(92.5vw / 2);
    max-width: 92.5vw;
  }
}
@media (min-width: 1000px) {
  .home {
    padding: 0 8vw;
    min-width: calc(95vw / 2);
    max-width: 95vw;
  }
}
@media (min-width: 1400px) {
  .home {
    padding: 0 10vw;
    min-width: calc(97.5vw / 2);
    max-width: 97.5vw;
  }
}
.home .intro {
  width: 100%;
}
.home .intro img {
  width: 100%;
  border-radius: 5px;
}
.home .intro-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 501px) {
  .home .intro-flex {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1000px) {
  .home .intro-flex {
    flex-direction: row;
  }
}
@media (max-width: 500px) {
  .home .intro-flex .intro-item {
    width: 99%;
  }
}
@media (min-width: 501px) {
  .home .intro-flex .intro-item {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .home .intro-flex .intro-item {
    width: 48%;
  }
}
@media (min-width: 1400px) {
  .home .intro-flex .intro-item {
    width: 45%;
  }
}
.home .intro-flex .features ul {
  list-style: disc inside;
  line-height: 2.2em;
}
.home .intro-flex .features ul li {
  font-size: 1.3em;
}
.home h1,
.home h2,
.home h3 {
  position: relative;
  padding-bottom: 2px;
  text-decoration: none;
  margin-bottom: 10px;
}
.home h1::after,
.home h2::after,
.home h3::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 3px;
  background: linear-gradient(to left, transparent 0%, #1F487E 25%, #1D3461 50%, #247BA0 75%, transparent 100%);
}
.home h1::after {
  width: 25%;
}
@media (max-width: 500px) {
  .home h2.welcome::after {
    width: calc(165px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h2.welcome::after {
    width: calc(170px + 2vw);
  }
}
@media (min-width: 1000px) {
  .home h2.welcome::after {
    width: calc(200px + 0.25vw);
  }
}
@media (min-width: 1400px) {
  .home h2.welcome::after {
    width: calc(150px + 5vw);
  }
}
@media (max-width: 500px) {
  .home h2.features-benefits::after {
    width: calc(325px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h2.features-benefits::after {
    width: calc(310px + 7vw);
  }
}
@media (min-width: 1000px) {
  .home h2.features-benefits::after {
    width: calc(315px + 7vw);
  }
}
@media (min-width: 1400px) {
  .home h2.features-benefits::after {
    width: calc(325px + 9vw);
  }
}
@media (max-width: 500px) {
  .home h3.samples::after {
    width: calc(340px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h3.samples::after {
    width: calc(325px + 7vw);
  }
}
@media (min-width: 1000px) {
  .home h3.samples::after {
    width: calc(330px + 7vw);
  }
}
@media (min-width: 1400px) {
  .home h3.samples::after {
    width: calc(340px + 9vw);
  }
}
.home .carousel-container {
  margin: 0 auto;
}
@media (max-width: 500px) {
  .home .carousel-container {
    width: 100%;
  }
}
@media (min-width: 501px) {
  .home .carousel-container {
    width: 95%;
  }
}
@media (min-width: 1000px) {
  .home .carousel-container {
    width: 90%;
  }
}
@media (min-width: 1400px) {
  .home .carousel-container {
    width: 80%;
  }
}
.home .carousel-container #myCarousel {
  max-width: 99%;
}
.home .carousel-container .carousel-indicators {
  bottom: 5%;
}
.home .carousel-container .carousel-inner img {
  width: 100%;
  height: 100%;
}
.home .carousel-container .carousel-control-prev,
.home .carousel-container .carousel-control-next {
  width: 10%;
}
@media (max-width: 500px) {
  .home h2.about::after {
    width: calc(105px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h2.about::after {
    width: calc(110px + 2vw);
  }
}
@media (min-width: 1000px) {
  .home h2.about::after {
    width: calc(95px + 3vw);
  }
}
@media (min-width: 1400px) {
  .home h2.about::after {
    width: calc(75px + 5vw);
  }
}
@media (max-width: 500px) {
  .home h3.team-members::after {
    width: calc(220px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h3.team-members::after {
    width: calc(210px + 7vw);
  }
}
@media (min-width: 1000px) {
  .home h3.team-members::after {
    width: calc(200px + 7vw);
  }
}
@media (min-width: 1400px) {
  .home h3.team-members::after {
    width: calc(200px + 8vw);
  }
}
@media (max-width: 500px) {
  .home h3.skills-technology::after {
    width: calc(285px + 0.25vw);
    max-width: 300px;
  }
}
@media (min-width: 501px) {
  .home h3.skills-technology::after {
    width: calc(300px + 7vw);
  }
}
@media (min-width: 1000px) {
  .home h3.skills-technology::after {
    width: calc(300px + 7vw);
  }
}
@media (min-width: 1400px) {
  .home h3.skills-technology::after {
    width: calc(310px + 9vw);
  }
}
.home .developers iframe {
  min-width: 293px;
  max-width: 100%;
}
.home #myCanvasContainer a {
  font-size: 1.5em;
}
.home #myCanvasContainer a:link {
  color: #A1C6EA;
  text-decoration: none;
  transition: all 0.33s ease-in-out;
}
.home #myCanvasContainer a:visited {
  color: #507DBC;
  text-decoration: none;
  transition: all 0.33s ease-in-out;
}
.home #myCanvasContainer a:hover {
  color: #DAE3E5;
  text-decoration: underline;
  transition: all 0.33s ease-in-out;
}
.home #myCanvasContainer a:active {
  color: #BBD1EA;
  text-decoration: underline;
  transition: all 0.33s ease-in-out;
}
