// Variables

// Color pointers
@header-font-color: @rich-black;

@nav-font-color: @platinum;
@nav-link-color: @baby-blue-eyes;
@nav-visited-color: @cyan-azure;
@nav-hover-color: @platinum;
@nav-active-color: @pale-aqua;
@nav-bg-color: @granite-gray;
@nav-border-color: @platinum;

@main-font-color: @rich-black;
@main-border-color: @platinum;

@footer-bg-color: @granite-gray;
@footer-font-color: @rich-black;
@footer-border-color: @platinum;

// Color Vars
@coral-red: #FB3640;
@rich-black: #04080F;
@granite-gray: #605F5E;
@space-cadet: #1D3461;
@dark-cerulean: #1F487E;
@lapis-lazuli: #247BA0;
@cyan-azure: #507DBC;
@baby-blue-eyes: #A1C6EA;
@pale-aqua: #BBD1EA;
@platinum: #DAE3E5;

// Responsive
@phone: ~"(max-width: 500px)";
@tablet: ~"(min-width: 501px)";
@desktop: ~"(min-width: 1000px)";
@desktop4k: ~"(min-width: 1400px)";

@max-width-mobile: 100vw;
@max-width-tablet: 92.5vw;
@max-width-desktop: 95vw;
@max-width-desktop4k: 97.5vw;

@padding-mobile: 1vw;
@padding-tablet: 2vw;
@padding-desktop: 8vw;
@padding-desktop4k: 10vw;